# JWT Configuration
SECRET_KEY=secret
ACCESS_TOKEN_EXPIRE_HOURS=720

# Postgres Connection Details
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_DB=retiree_help